include ./_mixins.pug

doctype html
html(lang='ru')
  head
    block title
      title Starting Template

    meta(charset='utf-8')
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')

    //- favicon
    meta(property='og:image', content='image.jpg')
    link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='img/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='img/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='img/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='img/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='img/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='img/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='img/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='img/favicon/favicon-16x16.png')
    link(rel='manifest', href='img/favicon/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='img/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

    //- preloader
    style #preloader{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#fff;z-index:9999}.preloader.fade{-webkit-animation:preloader-fade .3s ease;animation:preloader-fade .3s ease;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}@-webkit-keyframes preloader-fade{100%{opacity:0}}@keyframes preloader-fade{100%{opacity:0}}

    //- css, fonts loader
    script.
      !function(e){"use strict";function t(e,t,n){e.addEventListener?e.addEventListener(t,n,!1):e.attachEvent&&e.attachEvent("on"+t,n)}function n(t,n){return e.localStorage&&localStorage[t+"_content"]&&localStorage[t+"_file"]===n}function a(t,a){if(e.localStorage&&e.XMLHttpRequest)n(t,a)?o(localStorage[t+"_content"]):l(t,a);else{var s=r.createElement("link");s.href=a,s.id=t,s.rel="stylesheet",s.type="text/css",r.getElementsByTagName("head")[0].appendChild(s),r.cookie=t}}function l(e,t){var n=new XMLHttpRequest;n.open("GET",t,!0),n.onreadystatechange=function(){4===n.readyState&&200===n.status&&(o(n.responseText),localStorage[e+"_content"]=n.responseText,localStorage[e+"_file"]=t)},n.send()}function o(e){var t=r.createElement("style");t.setAttribute("type","text/css"),r.getElementsByTagName("head")[0].appendChild(t),t.styleSheet?t.styleSheet.cssText=e:t.innerHTML=e}var r=e.document;e.loadCSS=function(e,t,n){var a,l=r.createElement("link");if(t)a=t;else{var o;o=r.querySelectorAll?r.querySelectorAll("style,link[rel=stylesheet],script"):(r.body||r.getElementsByTagName("head")[0]).childNodes,a=o[o.length-1]}var s=r.styleSheets;l.rel="stylesheet",l.href=e,l.media="only x",a.parentNode.insertBefore(l,t?a:a.nextSibling);var c=function(e){for(var t=l.href,n=s.length;n--;)if(s[n].href===t)return e();setTimeout(function(){c(e)})};return l.onloadcssdefined=c,c(function(){l.media=n||"all"}),l},e.loadLocalStorageCSS=function(l,o){n(l,o)||r.cookie.indexOf(l)>-1?a(l,o):t(e,"load",function(){a(l,o)})}}(this);

    script.
      loadLocalStorageCSS('webfonts', 'css/fonts.css');
      loadCSS('css/styles.css');

    //- css load without js
    noscript.
      <link rel="stylesheet" href="css/fonts.css">
      <link rel="stylesheet" href="css/styles.css">

  body
    #preloader
    include ../components/_header.pug

    #app
      block content

    include ../components/_footer.pug